<h1 mat-dialog-title>Favorite Fruit</h1>
<form [formGroup]="editForm" (ngSubmit)="editSeance()">
    <div mat-dialog-content class="contents">
        <mat-form-field appearance="standard">
            <mat-label>Date</mat-label>
            <input type="date" matInput formControlName="date">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Movie ID</mat-label>
            <input matInput formControlName="movieID">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Hour</mat-label>
            <input matInput formControlName="hour">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Room Number</mat-label>
            <input matInput formControlName="roomID">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button [disabled]="!editForm.valid" style="float: right" type="submit">Save</button>
    </div>
</form>
