<form [formGroup]="userDataForm" (ngSubmit)="submit()">
<h1 mat-dialog-title>
Buy Tickets
</h1>
<mat-dialog-content>

<mat-stepper linear>
  <mat-step label="Info" [stepControl]="userDataForm">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
    <button [disabled]="!userDataForm.valid" mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Seats">
    <mat-chip-list selectable multiple >
      <div *ngFor="let column of columnAmount">
          <div *ngFor="let row of rowAmount">
            <div *ngIf="takenOptions.includes(row*columnAmount.length+column); else elseBlock">
              <mat-chip disabled>
              {{row*columnAmount.length+column+1}}</mat-chip>
            </div>
            <ng-template #elseBlock>
              
              <mat-chip (click)="onOptionSelected(row*columnAmount.length+column)"
              [selected]="isSelected(row*columnAmount.length+column)">
              {{row*columnAmount.length+column+1}}</mat-chip>
            </ng-template>
          </div>
      </div>
  </mat-chip-list>
  <button mat-button raised color='primary' (click)="sendData()">Buy</button>
  </mat-step>
</mat-stepper>




</mat-dialog-content>
</form>
